.card {
  margin-top: 10%;
  max-width: 80%;
  margin-left: 90px;
  background-color: rgb(250, 249, 248);
  border: 1px solid white;
  box-shadow: 0px 0px 1px 0px rgb(180, 179, 179);
  border-radius: 6px;
}

.line {
  width: 95%;
}

.title-section {
  flex-direction: row;
  word-spacing: 3px;
  margin: 3px auto;
}

.title-section span {
  margin-left: 16px;
}

.edit {
  flex-direction: row;
  flex-flow: row;
  padding-bottom: 9px;
}

.edit span {
  margin-left: 16px;
}

.type {
  padding: 3px;
  background-color: green;
  color: white;
  border-radius: 5px;
}

.types {
  padding: 3px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
